{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Zamień tekst na małe litery</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'capslock_zmiana_tekstu.png')}}" alt="zamień tekst na małe litery Caps Lock">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Czy kiedykolwiek miałeś dużą ilość tekstu, który musiał zostać przekonwertowany z wielkich na małe litery? A może po prostu zapomniałeś wyłączyć Capslocka? Niezależnie od wykonywanego zadania, narzędzie, które konwertuje tekst na małe litery i może przyspieszyć proces ustawiania tekstu na odpowiednią wielkość liter.            
            <br><br>
            Wprowadź tekst, w których chcesz zamienić litery na małe
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="toGreatStart" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="makeItSmall()" >Konwertuj tekst</button>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="toGreatEnd" placeholder="" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>

        <div class="alert alert-secondary" role="alert">
            <p>Nasz prosty i wygodny w użyciu narzędzie pozwala przekształcić tekst na małe litery. Niezależnie od tego, czy masz do czynienia z dużymi literami, czy też mieszanką małych i dużych liter, nasza strona dokładnie zamieni cały tekst na małe litery.

                Zamiana tekstu na małe litery może być przydatna w wielu sytuacjach. Często chcemy sprowadzić tekst do jednolitego formatu lub dostosować go do konkretnych wymagań stylowych. Nasze narzędzie pozwala to zrobić szybko i skutecznie.
                </p>
            <br>
            <p>Aby skorzystać z naszego narzędzia, po prostu wpisz lub skopiuj tekst w pole tekstowe, a następnie kliknij przycisk "Zamień na małe litery". W krótkim czasie otrzymasz przetworzony tekst, w którym wszystkie litery zostaną zamienione na małe.

                Nasza strona jest dostępna na różnych urządzeniach, takich jak komputery, smartfony i tablety. Oznacza to, że możesz z niej korzystać zawsze, gdy będziesz jej potrzebować, niezależnie od tego, gdzie się znajdujesz.
                
            </p>
            <br>
            <p>Dziękujemy, że wybrałeś naszą stronę do zamiany tekstu na małe litery. Mamy nadzieję, że nasze narzędzie spełni Twoje oczekiwania i ułatwi Ci pracę. Jeśli masz jakiekolwiek pytania lub sugestie, skontaktuj się z nami. Życzymy udanego korzystania z naszego narzędzia!
            </p>
          </div>
        
        
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
