{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Zamień tekst na małe litery</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'capslock_zmiana_tekstu.png')}}" alt="zamień tekst na małe litery Caps Lock">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Czy kiedykolwiek miałeś dużą ilość tekstu, który musiał zostać przekonwertowany z wielkich na małe? A może po prostu zapomniałeś wyączyć Capslocka? Niezależnie od wykonywanego zadania, narzędzie, które konwertuje tekst na małe litery i może przyspieszyć proces ustawiania tekstu na odpowiednią wielkość liter.            
            <br><br>
            Wprowadź tekst, w których chcesz zamienić litery na małe
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="toGreatStart" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="makeItSmall()" >Konwertuj tekst</button>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="toGreatEnd" placeholder="" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        
        
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}