{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Policz znaki w tekście</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'licznik_tekstu.png')}}" alt="policz litery cyfry w tekście">
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621978"></div>
        <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621978&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
        <script type="text/javascript" charset="utf-8">
            if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
            {
            var CeneoAPOptions = new Array(); 
            stamp = parseInt(new Date().getTime()/86400, 10);
            var script = document.createElement("script");
            script.setAttribute("type", "text/javascript");
            script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
            script.setAttribute("charset", "utf-8");
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(script);
            }
            CeneoAPOptions[CeneoAPOptions.length] =
            {
                ad_creation: 621978,
                ad_channel: 46045,
                ad_partner: 26939,
                ad_type: 1,
                ad_content: '40,41,573',
                ad_format: 4,
                ad_newpage: true,
                ad_basket: true,
                ad_container: 'ceneoaffcontainer621978',
                ad_formatTypeId: 1,
                ad_contextual: false, 
                ad_recommended: false, 
                ad_showRank: true 
            };
        </script>
                    
        </div>		
        <br>
        <div class="alert alert-secondary" role="alert">
            Oblicz długość ciągu tekstu lub liczb, aby sprawdzić liczbę znaków, które zawiera! Korzystanie z naszego internetowego narzędzia do liczenia znaków jest szybkie i łatwe! To narzędzie jest idealne dla programistów, twórców stron internetowych, pisarzy i innych twórców. Program zwraca informacje o całkowitej ilości znaków, oraz z pominięciem spacji i innych białych znaków.            
            <br><br>
            Wprowadź tekst i policz litery
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="countTextArea" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="countLetters()" >Policz znaki</button>
        <br>
        <br>
        <h6 class="text-success" id="countTotal"></h6>
        <br>
        <h6 class="text-success" id="countNoSpaces"></h6>

        <br>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621971"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621971&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621971,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '41,43,469',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621971',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: false 
                };
            </script>
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Nasz prosty i łatwy w obsłudze narzędzie pozwoli Ci szybko obliczyć ilość znaków w dowolnym tekście. Niezależnie od tego, czy masz do czynienia z krótkim fragmentem tekstu czy dłuższym dokumentem, nasza strona dokładnie zliczy każdy znak.
            </p>
            <br>
            <p>Liczenie znaków może być pomocne w wielu sytuacjach. Może Ci to pomóc monitorować długość swoich tekstów, kontrolować limit znaków w ramach danego medium (np. posty na Twitterze czy SMS-y) lub analizować statystyki pisarskie.

                Aby skorzystać z naszego narzędzia, wystarczy skopiować lub wpisać tekst w pole tekstowe, a następnie kliknąć przycisk "Policz znaki". Nasza strona w krótkim czasie poda Ci precyzyjną liczbę znaków w tekście.
                
                </p>
            <br>
            <p>Nasza strona jest responsywna, co oznacza, że możesz z niej korzystać na różnych urządzeniach, takich jak komputery, smartfony czy tablety. Dzięki temu będziesz mieć dostęp do naszego narzędzia zawsze, gdy będziesz go potrzebować.
                Dziękujemy, że wybrałeś naszą stronę do liczenia ilości znaków w tekście. Jesteśmy pewni, że nasze narzędzie pomoże Ci w monitorowaniu i analizie tekstu. Jeśli masz jakiekolwiek pytania lub sugestie, skontaktuj się z nami. Życzymy udanego korzystania z naszego narzędzia!
                </p>
            <br>
        </div>
        
        
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
