{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Policz słowa w tekście</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'licznik_tekstu.png')}}" alt="policz słowa w tekście">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Nasz narzędzie pozwala w prosty sposób określić liczbę słów w dowolnym tekście. Wystarczy, że skopiujesz lub wpiszesz swój tekst w pole tekstowe, a nasza strona dokładnie policzy ilość słów zawartych w tekście.

            <br><br>
            Wprowadź tekst i policz słowa
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="countWordsArea" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="countWords()" >Policz słowa</button>
        <br>
        <br>
        <h6 class="text-success" id="counterWords"></h6>


        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Obliczanie ilości słów może być przydatne w wielu sytuacjach. Jeśli jesteś pisarzem, redaktorem, studentem lub po prostu musisz kontrolować długość tekstu, nasze narzędzie jest idealne dla Ciebie. Możesz szybko sprawdzić, czy Twój tekst spełnia określone wymagania dotyczące liczby słów lub monitorować postępy w tworzeniu dłuższych projektów.

            </p>
            <br>
            <p>Korzystanie z naszego narzędzia jest proste i intuicyjne. Po wpisaniu lub skopiowaniu tekstu, wystarczy kliknąć przycisk "Policz słowa" i w krótkim czasie otrzymasz dokładny wynik liczby słów. Możesz również korzystać z naszego narzędzia na różnych urządzeniach, takich jak komputery, smartfony czy tablety, zapewniając sobie wygodę i dostępność zawsze, gdy jej potrzebujesz.

            </p>
            <br>
            <p>Dziękujemy, że wybrałeś naszą stronę do liczenia ilości słów w tekście. Mamy nadzieję, że nasze narzędzie spełni Twoje oczekiwania i ułatwi Ci pracę z liczeniem słów. Jeśli masz jakiekolwiek pytania lub sugestie, skontaktuj się z nami. Życzymy udanego korzystania z naszego narzędzia!
            </p>
            <br>
        </div>
        
        
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
