{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Tekst na typ szesnastkowy</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'typ_szesnastkowy.png')}}" alt="zamień na typ szesnastkowy">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Typ szesnastkowy, znany również jako system heksadecymalny, to sposób reprezentacji liczb i znaków za pomocą 16 różnych symboli: cyfr od 0 do 9 oraz literek A do F. Dzięki temu systemowi możemy przekształcać liczby i tekst na sekwencję cyfr i liter, która jest powszechnie używana w informatyce i elektronice.
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="textToHexStart" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="textToHex()" >Konwertuj tekst</button>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="textToHexEnd" placeholder="" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        
        
        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Nasza strona umożliwia łatwą i szybką konwersję tekstu na typ szesnastkowy. Wystarczy, że wpiszesz tekst w pole tekstowe, a nasze narzędzie automatycznie zamieni go na odpowiednią sekwencję cyfr i liter w systemie szesnastkowym. Możesz również skopiować wynik i wykorzystać go w swoich projektach lub aplikacjach.

            </p>
            <br>
            <p>Typ szesnastkowy jest szczególnie przydatny w wielu dziedzinach informatyki, takich jak programowanie, systemy komputerowe, sieci komputerowe, a także w pracy z kolorami w grafice komputerowej. Dzięki niemu można reprezentować duże liczby w bardziej zwięzły sposób oraz łatwiej przekazywać dane między systemami komputerowymi.

            </p>
            <br>
            <p>Wykorzystanie naszego narzędzia do konwersji na typ szesnastkowy jest proste i intuicyjne. Zapraszamy do korzystania z niego i eksperymentowania z różnymi tekstami. Jeśli masz jakiekolwiek pytania lub sugestie, śmiało skontaktuj się z nami. Cieszymy się, że możemy pomóc Ci w pracy z typem szesnastkowym i wzbogacić Twoje doświadczenie w dziedzinie informatyki!
            </p>
            <br>
          
        </div>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
