{% extends "base.html" %}


{% block page_body %}
<br>

<div class="row">

    <div class="col"></div>
    <div class="col-10">
        <div class="text-center">
            <img class="img-fluid" src="{{ url_for('static', filename= 'OnlineNarzedzia200.png')}}" alt="narzędzia online">
        </div>
        <br>
        <h1 class="text-center">Bezpłatne narzędzia online</h1>
        <br>
        <div>
            <div class=" alert alert-secondary" role="alert">

                
                Witaj na naszej stronie startowej, Twoim kompleksowym źródle narzędzi online! Tutaj znajdziesz szeroki wybór użytecznych narzędzi, które pomogą Ci w testowaniu i przetwarzaniu tekstu. Niezależnie od tego, czy jesteś programistą, badaczem danych czy po prostu osobą poszukującą praktycznych rozwiązań, mamy dla Ciebie wiele do zaoferowania.

                

            </div>
            <br>
            <div class="d-flex justify-content-center">
                <div id="ceneoaffcontainer621978"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621978&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621978,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '40,41,573',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621978',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: true 
                };
            </script>
                        
            </div>		
            <br>
            <div class="alert alert-secondary" role="alert">
                Generatory losowych danych to jeden z naszych głównych atutów. Jeśli potrzebujesz wygenerować losowe dane do testów lub symulacji, nasze narzędzia są idealne dla Ciebie. Możesz tworzyć losowe liczby, adresy, imiona, adresy email, numery telefonów i wiele więcej. Wystarczy kilka kliknięć, a otrzymasz wiarygodne i różnorodne dane do dalszej analizy.

Jeśli chodzi o operacje na tekście, jesteśmy tu, aby ułatwić Ci pracę. Nasze narzędzia umożliwiają przeprowadzanie różnych operacji na tekście, takich jak formatowanie, czyszczenie, tokenizacja, normalizacja i wiele innych. Możesz również liczyć słowa, zliczać znaki, sprawdzać gramatykę i analizować sentyment tekstu. Bez względu na to, czy chcesz przetworzyć mały fragment tekstu czy duże zbiory danych, mamy narzędzia, które będą spełniały Twoje potrzeby.
            </div>
        </div>    
        <br>    
        <div class="accordion" id="accordionExample">
            
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Narzedzia dla IT
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('osobaTestowa') }}">Generator danych osobowych do testów</a></li>
                    <li class="list-group-item"><a href="{{ url_for('pesel') }}">Geneator numerów PESEL</a></li>
                    <li class="list-group-item"><a href="{{ url_for('regon') }}">Generator numeru REGON</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberIBAN') }}">Generator numeru IBAN</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberNIP') }}">Generator numeru NIP</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberNDO') }}">Generator numeru dowodu osobistego</a></li>
                    <li class="list-group-item"><a href="{{ url_for('walidacjaPESEL') }}">Sprawdzenie numeru PESEL i daty urodzenia</a></li>

                </ul>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Funkcje tekstowe
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ url_for('maleNaWielkie') }}">Tekst na małe litery / odwróć Capslock</a></li>
                        <li class="list-group-item"><a href="{{ url_for('wielkieNaMale') }}">Tekst na wielkie litery / włącz Capslock</a></li>
                        <li class="list-group-item"><a href="{{ url_for('liczbaZnakow') }}">Policz litery w tekście</a></li>
                        <li class="list-group-item"><a href="{{ url_for('liczbaSlow') }}">Policz słowa w tekście</a></li>
                        <li class="list-group-item"><a href="{{ url_for('odwrocTekst') }}">Odwróć kolejność tekstu</a></li>
                        <li class="list-group-item"><a href="{{ url_for('tekstNa16') }}">Konwersja tekstu na typ szesnastkowy</a></li>
                        <li class="list-group-item"><a href="{{ url_for('tekstNaBIN') }}">Konwersja tekstu na binarny</a></li>
    
                    </ul>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Kalkulatory 
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ url_for('temperatureConverter') }}">Przelicznik temperatur na Celsjusza, Fahrenheita,Kelvina i Rankine'a</a></li>
                        
    
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <br>
        <div class="alert alert-secondary" role="alert">
            Nasza strona jest zbudowana z myślą o użytkownikach. Dbamy o intuicyjny interfejs, który pozwoli Ci korzystać z narzędzi bez trudności. Dodatkowo, nasze narzędzia są w pełni dostępne online, więc nie musisz instalować żadnego oprogramowania na swoim komputerze. Wszystko, czego potrzebujesz, to połączenie internetowe i gotowi jesteśmy do działania!

Wierzymy, że nasze narzędzia pomogą Ci zaoszczędzić czas i wysiłek podczas pracy z danymi i tekstem. Zapraszamy do eksploracji naszej witryny i korzystania z naszych funkcji. Jeżeli masz jakiekolwiek pytania lub sugestie, nie wahaj się skontaktować z nami. Cieszymy się, że jesteś tutaj i jesteśmy gotowi, aby Ci pomóc!

        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621971"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621971&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621971,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '41,43,469',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621971',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: false 
                };
            </script>
        </div>

        
        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Chcielibyśmy podzielić się z Wami informacją na temat planów rozwoju naszej witryny w przyszłości. Naszym celem jest nieustanne udoskonalanie i dostarczanie Wam jeszcze lepszych doświadczeń online. Oto kilka kierunków, w jakich zamierzamy rozwijać naszą witrynę:
            </p>
            <ul>
                <li>Nowe funkcje: Zamierzamy wprowadzać nowe funkcje, które ułatwią Wam korzystanie z naszej witryny. Będziemy uwzględniać Wasze opinie i sugestie, aby dostosować nasze narzędzia do Waszych potrzeb. Niektóre z planowanych funkcji to: dodatkowe opcje personalizacji, ulepszone wyszukiwanie, lepsza integracja z innymi platformami i wiele innych.

                </li>
                <li>Rozszerzona zawartość: Chcemy dostarczać Wam jeszcze więcej wartościowej zawartości. Będziemy kontynuować tworzenie informacyjnych tekstów, poradników, artykułów oraz innych materiałów, które pomogą Wam w zdobywaniu wiedzy i rozwoju w różnych dziedzinach. Naszym celem jest stałe poszerzanie naszej bazy wiedzy i dostarczanie Wam informacji, które są dla Was istotne.

                </li>
                <li>Poprawa interaktywności: Zależy nam na tym, aby nasza witryna była jak najbardziej interaktywna i angażująca dla Was. Planujemy wprowadzać elementy interaktywne, takie jak quizy, ankiety czy forum dyskusyjne, które umożliwią Wam aktywne uczestnictwo i wymianę informacji z innymi użytkownikami.

                </li>
                <li>Optymalizacja dla różnych urządzeń: W dzisiejszych czasach coraz więcej osób korzysta z Internetu za pośrednictwem urządzeń mobilnych. Dlatego zamierzamy dostosować naszą witrynę do różnych urządzeń, takich jak smartfony i tablety, zapewniając płynne i responsywne działanie na każdym urządzeniu.

                </li>
                <li>Integracja z innymi narzędziami: Chcemy zapewnić Wam większą wygodę i elastyczność poprzez integrację z innymi popularnymi narzędziami online. Planujemy współpracować z różnymi platformami, aby umożliwić Wam łatwiejszy dostęp do naszych narzędzi i usług.

                </li>
              </ul>

        </div>
    </div>
    <div class="col"></div>    
</div>
{% endblock %}
