{% extends "base.html" %}


{% block page_body %}
<br>

<div class="row">

    <div class="col"></div>
    <div class="col-10">
        <div class="text-center">
            <img class="img-fluid" src="{{ url_for('static', filename= 'OnlineNarzedzia200.png')}}" alt="narzędzia online">
        </div>
        <br>
        <h1 class="text-center">Bezpłatne narzędzia online</h1>
        <br>
        <div>
            <div class=" alert alert-secondary" role="alert">

                
                Witaj na naszej stronie startowej, Twoim kompleksowym źródle narzędzi online! Tutaj znajdziesz szeroki wybór użytecznych narzędzi, które pomogą Ci w testowaniu i przetwarzaniu tekstu. Niezależnie od tego, czy jesteś programistą, badaczem danych czy po prostu osobą poszukującą praktycznych rozwiązań, mamy dla Ciebie wiele do zaoferowania.

                

            </div>
            <br>
            <br>
            <div class="alert alert-secondary" role="alert">
                Generatory losowych danych to jeden z naszych głównych atutów. Jeśli potrzebujesz wygenerować losowe dane do testów lub symulacji, nasze narzędzia są idealne dla Ciebie. Możesz tworzyć losowe liczby, adresy, imiona, adresy email, numery telefonów i wiele więcej. Wystarczy kilka kliknięć, a otrzymasz wiarygodne i różnorodne dane do dalszej analizy.

Jeśli chodzi o operacje na tekście, jesteśmy tu, aby ułatwić Ci pracę. Nasze narzędzia umożliwiają przeprowadzanie różnych operacji na tekście, takich jak formatowanie, czyszczenie, tokenizacja, normalizacja i wiele innych. Możesz również liczyć słowa, zliczać znaki, sprawdzać gramatykę i analizować sentyment tekstu. Bez względu na to, czy chcesz przetworzyć mały fragment tekstu czy duże zbiory danych, mamy narzędzia, które będą spełniały Twoje potrzeby.
            </div>
        </div>    
        <br>    
        <div class="accordion" id="accordionExample">
            
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Narzedzia dla IT
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('osobaTestowa') }}">Generator danych osobowych do testów</a></li>
                    <li class="list-group-item"><a href="{{ url_for('pesel') }}">Geneator numerów PESEL</a></li>
                    <li class="list-group-item"><a href="{{ url_for('regon') }}">Generator numeru REGON</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberIBAN') }}">Generator numeru IBAN</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberNIP') }}">Generator numeru NIP</a></li>
                    <li class="list-group-item"><a href="{{ url_for('numberNDO') }}">Generator numeru dowodu osobistego</a></li>
                    <li class="list-group-item"><a href="{{ url_for('walidacjaPESEL') }}">Sprawdzenie numeru PESEL i daty urodzenia</a></li>

                </ul>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Funkcje tekstowe
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ url_for('maleNaWielkie') }}">Tekst na małe litery / odwróć Capslock</a></li>
                        <li class="list-group-item"><a href="{{ url_for('wielkieNaMale') }}">Tekst na wielkie litery / włącz Capslock</a></li>
                        <li class="list-group-item"><a href="{{ url_for('liczbaZnakow') }}">Policz litery w tekście</a></li>
                        <li class="list-group-item"><a href="{{ url_for('liczbaSlow') }}">Policz słowa w tekście</a></li>
                        <li class="list-group-item"><a href="{{ url_for('odwrocTekst') }}">Odwróć kolejność tekstu</a></li>
                        <li class="list-group-item"><a href="{{ url_for('tekstNa16') }}">Konwersja tekstu na typ szesnastkowy</a></li>
                        <li class="list-group-item"><a href="{{ url_for('tekstNaBIN') }}">Konwersja tekstu na binarny</a></li>
    
                    </ul>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Kalkulatory 
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ url_for('temperatureConverter') }}">Przelicznik temperatur na Celsjusza, Fahrenheita,Kelvina i Rankine'a</a></li>
                        
    
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <br>
        <div class="alert alert-secondary" role="alert">
            Nasza strona jest zbudowana z myślą o użytkownikach. Dbamy o intuicyjny interfejs, który pozwoli Ci korzystać z narzędzi bez trudności. Dodatkowo, nasze narzędzia są w pełni dostępne online, więc nie musisz instalować żadnego oprogramowania na swoim komputerze. Wszystko, czego potrzebujesz, to połączenie internetowe i gotowi jesteśmy do działania!

Wierzymy, że nasze narzędzia pomogą Ci zaoszczędzić czas i wysiłek podczas pracy z danymi i tekstem. Zapraszamy do eksploracji naszej witryny i korzystania z naszych funkcji. Jeżeli masz jakiekolwiek pytania lub sugestie, nie wahaj się skontaktować z nami. Cieszymy się, że jesteś tutaj i jesteśmy gotowi, aby Ci pomóc!

        </div>
    </div>
    <div class="col"></div>    
</div>
{% endblock %}
