{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Generator numeru dowodu osobistego</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_NDO_generator.png')}}" alt="Generator numeru dowodu osobistego">
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621971"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621971&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621971,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '41,43,469',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621971',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: false 
                };
            </script>
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Witaj na naszej stronie, gdzie znajdziesz potężne narzędzie do generowania fikcyjnych numerów dowodów osobistych do celów testowych oraz informacje na temat samego numeru dowodu osobistego! Jeśli potrzebujesz wiarygodnych, ale fikcyjnych numerów dowodów osobistych do weryfikacji aplikacji, testów czy symulacji, jesteś we właściwym miejscu.
            <br><br>
            Nasz generator numerów dowodów osobistych oferuje prosty i szybki sposób na generowanie fikcyjnych numerów, które wyglądają jak prawdziwe numery dowodów osobistych. Wystarczy wybrać odpowiednie opcje, a otrzymasz unikalne numery, które spełniają wymagane kryteria.
            <br><br>
            Podkreślamy, że generowane przez nas numery dowodów osobistych są przeznaczone wyłącznie do celów testowych i nie powinny być używane w jakikolwiek sposób niezgodny z prawem lub naruszający prywatność innych osób. Fikcyjne numery dowodów osobistych nie mają związku z rzeczywistymi danymi ani nie są ważnymi dokumentami tożsamości.

          </div>
        <button type="button" class="btn btn-primary"  onclick="generateManyIdCardNumber()" >Generuj Numery Dowodu Osobistego</button>
        <br>
        <br>
        <input type="text" class="form-control"  id="NDO1" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NDO2" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NDO3" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NDO4" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NDO5" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        
<div class="d-flex justify-content-center">
	<div id="ceneoaffcontainer621978"></div>
<a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621978&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
<script type="text/javascript" charset="utf-8">
	if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
	{
	var CeneoAPOptions = new Array(); 
	stamp = parseInt(new Date().getTime()/86400, 10);
	var script = document.createElement("script");
	script.setAttribute("type", "text/javascript");
	script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
	script.setAttribute("charset", "utf-8");
	var head = document.getElementsByTagName("head")[0];
	head.appendChild(script);
	}
	CeneoAPOptions[CeneoAPOptions.length] =
	{
		ad_creation: 621978,
		ad_channel: 46045,
		ad_partner: 26939,
		ad_type: 1,
		ad_content: '40,41,573',
		ad_format: 4,
		ad_newpage: true,
		ad_basket: true,
		ad_container: 'ceneoaffcontainer621978',
		ad_formatTypeId: 1,
		ad_contextual: false, 
		ad_recommended: false, 
		ad_showRank: true 
	};
</script>
            
</div>		
         <br> 
        <div class="alert alert-secondary" role="alert">
            <p>Numer i seria dowodu osobistego to unikalne identyfikatory przypisywane każdej osobie posiadającej dowód osobisty. Numer dowodu osobistego jest nadawany przez organ wydający dokument, zazwyczaj zawiera cyfry i czasem litery. Seria dowodu osobistego to część identyfikatora, która oznacza konkretne wydanie dokumentu i może składać się z liter, cyfr lub ich kombinacji.
            </p>
            <br>
            <p>Numer i seria dowodu osobistego mają na celu jednoznaczną identyfikację osoby, jej tożsamości i statusu. Są używane w różnych sytuacjach, takich jak potwierdzanie tożsamości przy składaniu dokumentów, weryfikacja tożsamości przez organy administracyjne, instytucje finansowe czy przy zawieraniu umów.
            </p>
            <br>
            <p>Ochrona numeru i serii dowodu osobistego jest istotna, ponieważ może być wykorzystywana w różnych procesach i transakcjach, a ich nieuprawnione ujawnienie może prowadzić do nadużyć lub kradzieży tożsamości. W związku z tym, zaleca się przechowywanie dowodu osobistego w bezpiecznym miejscu i nieudostępnianie tych informacji osobom trzecim bez konieczności.
                Numer i seria dowodu osobistego są ważnymi elementami w identyfikacji i administracji tożsamości osobistej. Ważne jest świadome korzystanie z tych informacji, przestrzeganie zasad prywatności i zachowanie ostrożności w celu ochrony swojej tożsamości i danych osobowych.
            </p>
            <br><br>
            Zapraszamy Cię do eksploracji naszej strony i korzystania z naszego generatora numerów dowodów osobistych. Pamiętaj, że numer dowodu osobistego jest ważnym dokumentem tożsamości, a fikcyjne numery nie powinny być używane do celów oficjalnych ani identyfikacyjnych. Jeśli masz pytania lub potrzebujesz pomocy, nasz zespół jest gotowy, aby Ci pomóc.


          </div>
        
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
