{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Generator numeru NIP</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_NIP_generator.png')}}" alt="Generator numeru IBAN konta bankowego">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Nasz generator numerów NIP oferuje prosty i szybki sposób na generowanie fikcyjnych numerów NIP, które można wykorzystać w celach testowych lub symulacyjnych. Wystarczy kilka kliknięć, a otrzymasz unikalne numery NIP, które są zgodne z formatem i strukturą prawdziwych numerów NIP.
                <br><br>
            Podkreślamy, że generowane przez nas numery NIP są przeznaczone wyłącznie do celów testowych i nie powinny być używane do żadnych działań niezgodnych z prawem lub naruszających prywatność innych osób. Fikcyjne numery NIP nie mają związku z rzeczywistymi danymi podatkowymi i nie można ich wykorzystywać w celach oficjalnych.
            
            
          </div>
        <button type="button" class="btn btn-primary"  onclick="generateManyNIP()" >Generuj Numery NIP</button>
        <br>
        <br>
        <input type="text" class="form-control"  id="NIP1" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NIP2" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NIP3" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NIP4" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="NIP5" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <div class="alert alert-secondary" role="alert">
            <p> Numer NIP (Numer Identyfikacji Podatkowej) to unikalny identyfikator przypisany każdej osobie fizycznej, firmie lub organizacji w celu identyfikacji podatkowej w systemie podatkowym. Numer NIP jest niezwykle ważny i używany do celów związanych z podatkami, rozliczeniami finansowymi i innymi formalnościami. 
            Jest to ważne zrozumieć, że numer NIP jest zabezpieczonym i poufnym danym identyfikacyjnym. Jego prawidłowe użycie ma kluczowe znaczenie dla zapewnienia zgodności podatkowej i zachowania prywatności. </p>
             <br>
            <p>Numer NIP jest nadawany przez urząd skarbowy i jest przypisywany zarówno przedsiębiorcom, jak i innym podmiotom gospodarczym, takim jak fundacje, stowarzyszenia, spółki czy instytucje. Numer ten służy do identyfikacji podmiotów podatkowych, umożliwiając właściwe rozliczenie podatkowe, monitorowanie działań gospodarczych oraz zapewnienie przejrzystości w systemie podatkowym.

            </p> 
            <br>
            <p>Posiadanie numeru NIP jest wymagane dla wszystkich podmiotów prowadzących działalność gospodarczą w Polsce. Numer ten jest używany przy wystawianiu i otrzymywaniu faktur, sporządzaniu deklaracji podatkowych, rejestracji podmiotów, a także w kontaktach z instytucjami finansowymi, klientami i dostawcami.
                <br>
                Ważne jest odpowiednie przechowywanie numeru NIP i dbanie o jego poufność, aby zapobiec możliwości nadużyć i utraty poufności danych. Naruszenie bezpieczeństwa numeru NIP może prowadzić do problemów prawnych i finansowych.    
            </p>


            <br>
            Dziękujemy, że odwiedziłeś naszą stronę i korzystasz z naszych usług. Jesteśmy przekonani, że nasz generator numerów NIP spełni Twoje oczekiwania i będzie użytecznym narzędziem dla Ciebie.

        </div>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
