{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Generator numeru PESEL</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_pesel_generator.png')}}" alt="Generator numeru PESEL">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Numer PESEL to jedenastocyfrowy, unikatowy symbol numeryczny, który pozwala na łatwą identyfikację osoby fizycznej. Numer PESEL zawiera datę urodzenia, numer porządkowy, oznaczenie płci oraz liczbę kontrolną.
          </div>
        <button type="button" class="btn btn-primary"  onclick="generateManyPESEL()" >Generuj Numery PESEL</button>
        <br>
        <br>
        <input type="text" class="form-control"  id="PESEL1" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL2" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL3" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL4" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL5" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
