{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Generator numeru PESEL</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_pesel_generator.png')}}" alt="Generator numeru PESEL">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Witaj na naszej stronie, gdzie znajdziesz narzędzie do generowania numerów PESEL do celów testowych! Jeśli potrzebujesz wiarygodnych, ale fikcyjnych numerów PESEL do przetestowania swojej aplikacji, bazy danych lub innych zastosowań, jesteś we właściwym miejscu.
<br><br>
Nasz generator numerów PESEL oferuje szybki i prosty sposób na generowanie fikcyjnych numerów PESEL, które spełniają wymagane kryteria. Wystarczy wybrać odpowiednie opcje i kilka chwil, a otrzymasz prawdziwie wyglądające numery PESEL, które można używać w swoich testach.


          </div>
        <button type="button" class="btn btn-primary"  onclick="generateManyPESEL()" >Generuj Numery PESEL</button>
        <br>
        <br>
        <input type="text" class="form-control"  id="PESEL1" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL2" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL3" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL4" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="PESEL5" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <div class="alert alert-secondary" role="alert">
            Zapewniamy, że wszystkie generowane przez nas numery PESEL są zgodne z algorytmem i strukturą prawdziwych numerów PESEL. Jednak pamiętaj, że są to dane fikcyjne i nie powinny być używane w celach niezgodnych z prawem lub naruszających prywatność innych osób.
          </div>
          <br>
          <div class="alert alert-secondary" role="alert">
            Numer PESEL (Powszechny Elektroniczny System Ewidencji Ludności) to unikalny identyfikator przypisywany każdej osobie zamieszkałej w Polsce. Składa się z 11 cyfr i jest używany do identyfikacji obywateli polskich w kontaktach z administracją państwową oraz w różnych dziedzinach życia, takich jak zatrudnienie, ubezpieczenia społeczne, edukacja czy opieka zdrowotna.
            <br>
            Struktura numeru PESEL zawiera informacje o dacie urodzenia, płci oraz miejscu urodzenia. Pierwsze dwa cyfry oznaczają ostatnie dwie cyfry roku urodzenia, kolejne dwie cyfry to numer miesiąca urodzenia, a kolejne dwie cyfry to liczba dni w danym miesiącu. Następnie trzy cyfry stanowią kolejny unikalny element identyfikujący daną osobę, a ostatnia cyfra to suma kontrolna, która umożliwia sprawdzenie poprawności numeru.
            <br>
            Numer PESEL jest ważnym elementem administracyjnym w Polsce, umożliwiającym jednoznaczną identyfikację obywateli i ułatwiającym różne procesy biurokratyczne. Jednak należy pamiętać o zachowaniu ostrożności i nieudostępnianiu numeru PESEL osobom trzecim w celu ochrony prywatności i zapobieżeniu możliwemu nadużyciu danych.         
                      </div>  
        <div class="col">
    </div>

    

    </div>
</div>
{% endblock %}
