{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">
        

        <h1>Sprawdź numer PESEL, płeć i datę urodzenia</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_pesel_generator.png')}}" alt="Sprawdź numer PESEL poprawność płeć data urodzenia">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Witaj na naszej stronie, gdzie możesz sprawdzić poprawność numeru PESEL i uzyskać informacje o płci i dacie urodzenia osoby, a także dowiedzieć się, czym jest numer PESEL!
            <br><br>
            Numer PESEL (Powszechny Elektroniczny System Ewidencji Ludności) to unikalny identyfikator przypisany każdej osobie w Polsce. Numer PESEL zawiera kluczowe informacje, takie jak data urodzenia, płeć oraz cyfry kontrolne, które umożliwiają weryfikację jego poprawności.
            <br><br>
            Nasz system sprawdzania numeru PESEL oferuje niezawodne narzędzie do weryfikacji poprawności numeru PESEL. Wystarczy wprowadzić numer PESEL, a nasz system przeprowadzi weryfikację i zweryfikuje, czy numer jest prawidłowy.
            
            
          </div>
        <br>
        <br>
        <input type="text" class="form-control"  id="peselToValidate" placeholder="wprowadź numer PESEL" aria-label="Test" aria-describedby="basic-addon2" >
        <br>
        <button type="button" class="btn btn-primary"  onclick="checkPESEL()" >Sprawdź PESEL</button>
        <br>
        <br>
        <h6 class="text-success" id="succesPesel">Numer PESEL jest poprawny</h6>
        <br>
        <label for="dateFromPesel" class="form-label">Data urodzenia</label>
        <input type="text" class="form-control"  id="dateFromPesel" placeholder="" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <br>
        <label for="sexFromPesel" class="form-label">Płeć</label>
        <input type="text" class="form-control"  id="sexFromPesel" placeholder="" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <div class="alert alert-secondary" role="alert">
            Dodatkowo, nasz system odczyta zawarte w numerze PESEL informacje, takie jak płeć (mężczyzna lub kobieta) oraz datę urodzenia. To pozwoli Ci uzyskać pełniejszy obraz osoby, której numer PESEL jest poddawany weryfikacji.
            <br><br>
Podkreślamy, że nasz system służy wyłącznie do weryfikacji poprawności numeru PESEL i dostarczenia dodatkowych informacji, takich jak płeć i data urodzenia. W żadnym wypadku nie przechowujemy wprowadzonych numerów PESEL ani nie gromadzimy danych osobowych.
            <br><br>
Numer PESEL jest ważnym elementem identyfikacyjnym w Polsce i jest używany w wielu dziedzinach, takich jak system podatkowy, służba zdrowia czy ubezpieczenia społeczne. Poprawność numeru PESEL jest niezwykle istotna, dlatego nasz system weryfikacji może Ci pomóc upewnić się, czy numer jest prawidłowy.
            

          </div>
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
