{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Generator numeru REGON</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'numer_REGON_generator.png')}}" alt="Generator numeru REGON">
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Witaj na naszej stronie, gdzie znajdziesz niezawodny generator numerów REGON do testów! Jeśli potrzebujesz fikcyjnych numerów REGON do celów testowych, analizy danych lub weryfikacji swojej aplikacji, jesteś we właściwym miejscu.
<br><br>
Nasz generator numerów REGON oferuje łatwe i szybkie generowanie wiarygodnych, ale całkowicie fikcyjnych numerów REGON. Wystarczy kilka kliknięć, a otrzymasz unikalne numery REGON, które możesz wykorzystać w swoich testach, raportach lub innych zastosowaniach.


          </div>
        <button type="button" class="btn btn-primary"  onclick="generateManyREGON()" >Generuj Numery REGON</button>
        <br>
        <br>
        <input type="text" class="form-control"  id="REGON1" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="REGON2" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="REGON3" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="REGON4" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <input type="text" class="form-control"  id="REGON5" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
        <br>
        <div class="alert alert-secondary" role="alert">
            Podkreślamy, że generowane przez nas numery REGON są przeznaczone wyłącznie do celów testowych i nie powinny być używane do żadnych działań niezgodnych z prawem lub naruszających prywatność innych osób.
    
    
    
          </div>
        <div class="col">
        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Numer REGON (Rejestr Gospodarki Narodowej) to identyfikator przypisywany podmiotom gospodarczym w Polsce. Składa się z dziewięciu lub czternastu cyfr, w zależności od rodzaju podmiotu. Numer REGON jest wykorzystywany do identyfikacji i ewidencji podmiotów gospodarczych, w tym przedsiębiorstw, instytucji, fundacji i innych jednostek.
            </p>
            <br>
            <p>Numer REGON jest nadawany przez Główny Urząd Statystyczny (GUS) i służy do monitorowania działalności gospodarczej oraz zbierania danych statystycznych. Składa się z trzech części: pierwszych siedmiu cyfr stanowi numer identyfikacyjny regionu, kolejne trzy cyfry oznaczają numer podmiotu w regionie, a w przypadku numeru czternastocyfrowego, cztery ostatnie cyfry to cyfra kontrolna.
            </p>
            <br>
            <p>Numer REGON jest istotny w procesach rejestracyjnych, rozliczeniowych i statystycznych związanych z prowadzeniem działalności gospodarczej. Umożliwia identyfikację podmiotów gospodarczych w kontaktach z administracją, instytucjami finansowymi, klientami i dostawcami. Numer ten jest również wykorzystywany w analizach ekonomicznych, badaniach rynkowych i ocenie kondycji sektora gospodarczego.
            </p>
            <br>
            <p>W przypadku prowadzenia działalności gospodarczej w Polsce, posiadanie numeru REGON jest zazwyczaj wymagane, szczególnie w kontekście rozliczeń podatkowych, rejestracji spółek, wniosków o dotacje lub uzyskania pozwolenia na określone działania. Numer ten jest poufny i powinien być starannie przechowywany, aby zapobiec możliwości nadużyć i utraty poufności danych.
            </p>
            <br>
          </div>
        <div class="col">    
    </div>

    
    

    </div>
</div>
{% endblock %}
