{% extends "base.html" %}


{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Odwróć kolejność tekstu</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'reverse_text.png')}}" alt="odwracanie tekstu, zmień kolejność">
        </div>
        <br>
        
<div class="d-flex justify-content-center">
	<div id="ceneoaffcontainer621978"></div>
<a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621978&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
<script type="text/javascript" charset="utf-8">
	if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
	{
	var CeneoAPOptions = new Array(); 
	stamp = parseInt(new Date().getTime()/86400, 10);
	var script = document.createElement("script");
	script.setAttribute("type", "text/javascript");
	script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
	script.setAttribute("charset", "utf-8");
	var head = document.getElementsByTagName("head")[0];
	head.appendChild(script);
	}
	CeneoAPOptions[CeneoAPOptions.length] =
	{
		ad_creation: 621978,
		ad_channel: 46045,
		ad_partner: 26939,
		ad_type: 1,
		ad_content: '40,41,573',
		ad_format: 4,
		ad_newpage: true,
		ad_basket: true,
		ad_container: 'ceneoaffcontainer621978',
		ad_formatTypeId: 1,
		ad_contextual: false, 
		ad_recommended: false, 
		ad_showRank: true 
	};
</script>
            
</div>		
        <br>
        <div class="alert alert-secondary" role="alert">
            W tworzeniu stron internetowych i programowaniu  czasami trzeba odwrócić ciąg znaków. Typ string to uporządkowana sekwencja danych, często składająca się ze znaków, używana w branży informatycznej.            
            <br><br>
            Wprowadź tekst, w którym chcesz odwrócić kolejność
          </div>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="reverseStart" placeholder="wprowadź tekst" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <button type="button" class="btn btn-primary"  onclick="reverseString()" >Konwertuj tekst</button>
        <br>
        <br>
        <textarea rows="15" type="text" class="form-control"  id="reverseEnd" placeholder="" aria-label="Test" aria-describedby="basic-addon2" ></textarea>
        <br>
        <div class="alert alert-secondary" role="alert">
            <p>Narzędzie online do odwracania kolejności tekstu to praktyczne narzędzie, które umożliwia zamianę kolejności znaków lub słów w tekście. Działa to w sposób prosty i intuicyjny, bez konieczności instalowania dodatkowego oprogramowania.

            </p>            
            <br>
            <p>Ten typ narzędzia może być przydatny w różnych sytuacjach. Na przykład, gdy chcesz odwrócić kolejność słów w zdaniu, zamienić kolejność liter w haśle dla zwiększenia bezpieczeństwa, bądź zastosować jakieś kreatywne efekty w projektach graficznych lub pisemnych.
                Aby skorzystać z narzędzia online do odwracania tekstu, wystarczy wprowadzić tekst, który chcesz odwrócić, a następnie nacisnąć przycisk konwertowania. Wynikowy tekst będzie zawierał wszystkie znaki lub słowa z pierwotnego tekstu, ale w odwróconej kolejności.


            </p>            
            <br>
            <p>Warto zauważyć, że narzędzie te mogą obsługiwać różne języki i znaki specjalne. Niektóre narzędzia oferują również dodatkowe opcje, takie jak odwracanie tekstu od tyłu do przodu lub odwracanie jedynie wybranych fragmentów.

            </p>            
            <br>
            <p>Nasze narzędzie online do odwracania kolejności tekstu są łatwo dostępne i przydatne w wielu sytuacjach. Można je znaleźć na różnych stronach internetowych lub korzystając z wyszukiwarki, wpisując odpowiednie hasło.

            </p>            
            <br>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621971"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621971&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621971,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '41,43,469',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621971',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: false 
                };
            </script>
        </div>
        <br>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
