{% extends "base.html" %}

{% block page_body %}
<div class=" row text-center border border-top-0 ">

    <div class="col"></div>
    <div class="col-10">


        <h1>Dane osobowe do testów</h1>
        <br>
        <div >
            <img class="img-fluid" src="{{ url_for('static', filename= 'osoba_testowa.png')}}" alt="Dane testowe osobowe losowe">
        </div>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621978"></div>
        <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621978&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
        <script type="text/javascript" charset="utf-8">
            if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
            {
            var CeneoAPOptions = new Array(); 
            stamp = parseInt(new Date().getTime()/86400, 10);
            var script = document.createElement("script");
            script.setAttribute("type", "text/javascript");
            script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
            script.setAttribute("charset", "utf-8");
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(script);
            }
            CeneoAPOptions[CeneoAPOptions.length] =
            {
                ad_creation: 621978,
                ad_channel: 46045,
                ad_partner: 26939,
                ad_type: 1,
                ad_content: '40,41,573',
                ad_format: 4,
                ad_newpage: true,
                ad_basket: true,
                ad_container: 'ceneoaffcontainer621978',
                ad_formatTypeId: 1,
                ad_contextual: false, 
                ad_recommended: false, 
                ad_showRank: true 
            };
        </script>
                    
        </div>		
        <br>
        <div class="alert alert-secondary" role="alert">
            Witaj na naszej stronie, Twoim niezawodnym źródle generatora fikcyjnych danych osobowych! Jeśli potrzebujesz wiarygodnych, ale całkowicie fikcyjnych informacji do celów testowych, badawczych lub symulacyjnych, jesteś we właściwym miejscu.

Nasz generator fikcyjnych danych osobowych oferuje szeroki zakres informacji, które możesz wygenerować w prosty i łatwy sposób. Masz możliwość wygenerowania losowych imion i nazwisk, numerów telefonów, PESELi, numerów REGON oraz adresów email. Te dane są całkowicie fikcyjne i nie odzwierciedlają rzeczywistych osób, więc możesz ich używać bez obaw.
<br><br>
Wystarczy kilka kliknięć, a otrzymasz zestaw wiarygodnych i różnorodnych danych osobowych, które można wykorzystać do różnych celów. Niezależnie od tego, czy potrzebujesz tych danych do testowania aplikacji, generowania raportów, tworzenia przykładowych baz danych czy do innych zastosowań, nasz generator jest gotowy, aby Ci pomóc.


            <br>
        </div>
        <button type="button" class="btn btn-primary"  onclick="generateFakePerson()" >Generuj osobę fikcyjną do testów</button>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <label for="fakeFirstName" class="form-label">Imię</label>
                <input type="text" class="form-control"  id="fakeFirstName" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="col">
                <label for="fakeLastName" class="form-label">Nazwisko</label>
                <input type="text" class="form-control"  id="fakeLastName" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="fakePESEL" class="form-label">PESEL</label>
                <input type="text" class="form-control"  id="fakePESEL" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="col">
                <label for="fakeDate" class="form-label">Data urodzenia</label>
                <input type="text" class="form-control"  id="fakeDate" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <label for="fakeNDO" class="form-label">Numer dowodu osobistego</label>
                <input type="text" class="form-control"  id="fakeNDO" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="col">
                <label for="fakeEmail" class="form-label">Email</label>
                <input type="text" class="form-control"  id="fakeEmail" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col">
                <label for="fakeNIP" class="form-label">NIP</label>
                <input type="text" class="form-control"  id="fakeNIP" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="col">
                <label for="fakeREGON" class="form-label">REGON</label>
                <input type="text" class="form-control"  id="fakeREGON" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="fakeIBAN" class="form-label">Numer IBAN</label>
                <input type="text" class="form-control"  id="fakeIBAN" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="col">
                <label for="fakePhoneNumber" class="form-label">Numer telefonu</label>
                <input type="text" class="form-control"  id="fakePhoneNumber" placeholder="Test" aria-label="Test" aria-describedby="basic-addon2" readonly>
            </div>
        </div>
        
        <br>
        <div class="alert alert-secondary" role="alert">
            Jesteśmy świadomi, jak ważne jest łatwe i wygodne korzystanie z naszych narzędzi. Dlatego nasza strona jest przyjazna dla użytkownika, a nasz interfejs jest intuicyjny i prosty w obsłudze. Nie musisz być ekspertem, aby korzystać z naszego generatora fikcyjnych danych osobowych.

Pamiętaj, że generowane przez nas dane są całkowicie fikcyjne i nie powinny być używane do celów niezgodnych z prawem lub naruszających prywatność innych osób. Naszym celem jest zapewnienie Ci narzędzi, które ułatwią Ci pracę, niezależnie od Twoich potrzeb.




            <br>
        </div>
        <div class="d-flex justify-content-center">
            <div id="ceneoaffcontainer621971"></div>
            <a id="ceneoaff-logo" title="Ceneo.pl" href="https://www.ceneo.pl/#pid=26939&crid=621971&cid=46045" rel="nofollow"><img style="border:0;width:1px;height:1px;" src="//image.ceneostatic.pl/data/custom_images/4917/custom_image.png" alt="Ceneo.pl" /></a>
            <script type="text/javascript" charset="utf-8">
                if (typeof CeneoAPOptions == "undefined" || CeneoAPOptions == null)
                {
                var CeneoAPOptions = new Array(); 
                stamp = parseInt(new Date().getTime()/86400, 10);
                var script = document.createElement("script");
                script.setAttribute("type", "text/javascript");
                script.setAttribute("src", "//partnerzyapi.ceneo.pl/External/ap.js?"+stamp);
                script.setAttribute("charset", "utf-8");
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
                }
                CeneoAPOptions[CeneoAPOptions.length] =
                {
                    ad_creation: 621971,
                    ad_channel: 46045,
                    ad_partner: 26939,
                    ad_type: 1,
                    ad_content: '41,43,469',
                    ad_format: 4,
                    ad_newpage: true,
                    ad_basket: true,
                    ad_container: 'ceneoaffcontainer621971',
                    ad_formatTypeId: 1,
                    ad_contextual: false, 
                    ad_recommended: false, 
                    ad_showRank: false 
                };
            </script>
        </div>
        <br>
        <div class="alert alert-secondary" role="alert">
            Dane osobowe to informacje dotyczące zidentyfikowanej lub możliwej do zidentyfikowania osoby fizycznej. Mogą to być różnego rodzaju informacje, takie jak imię i nazwisko, adres zamieszkania, numer telefonu, adres e-mail, numer identyfikacyjny, zdjęcia, dane biometryczne, preferencje czy informacje dotyczące zdrowia.
            <br><br>
            Dane osobowe są niezwykle ważne i wrażliwe, dlatego podlegają ochronie prawnym w wielu jurysdykcjach, w tym zgodnie z europejskim Rozporządzeniem o Ochronie Danych Osobowych (RODO) oraz innymi przepisami krajowymi. Ich przetwarzanie wymaga zgody osoby, której dane dotyczą, oraz przestrzegania zasad poufności, bezpieczeństwa i przejrzystości.
            <br><br>
            Przetwarzanie danych osobowych może mieć różne cele, takie jak umożliwienie świadczenia usług, zarządzanie zatrudnieniem, prowadzenie działań marketingowych czy analizowanie zachowań użytkowników. W każdym przypadku konieczne jest przestrzeganie zasad ochrony danych osobowych, w tym zbieranie danych tylko w celach uzasadnionych i zgodnych z prawem, przechowywanie ich bezpiecznie i ograniczone do niezbędnego minimum, oraz informowanie osób, których dane dotyczą, o sposobach przetwarzania i ich prawach.
            <br><br>
            W dzisiejszym cyfrowym świecie ochrona danych osobowych staje się coraz ważniejsza. Warto być świadomym swoich praw i obowiązków związanych z danymi osobowymi oraz dbać o ich bezpieczeństwo, zarówno jako osoba przetwarzająca dane, jak i osoba, której dane dotyczą.    
            <br>
        </div>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
